# =====================
# Maven / Java
# =====================
target/
*.class
*.jar
*.war
*.ear

# =====================
# IDE's
# =====================
.vscode/
.idea/
*.iml

# =====================
# OS files
# =====================
.DS_Store
Thumbs.db

# =====================
# Logs
# =====================
*.log

# =====================
# Python
# =====================
__pycache__/
*.pyc
.venv/
env/
venv/

# =====================
# Python dependencies
# =====================
python_scripts/.venv/
python_scripts/__pycache__/

# =====================
# Data outputs
# =====================
data/*.png
data/*.csv

# =====================
# Docker
# =====================
*.env